*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TOUR POOL PAGE */

.ADETourPoolBody{
    display: flex;
    gap: 40px;
    max-width: 1140px;
    margin: auto;
}

/* -------------filter section------------- */
.ADETourFilterSection{
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    height: 500px;
    width: 20%;
    min-width: 250px;
}

.ADETourFilterSection .ADETourFilterTitle {
    font-size: 16px;
    font-weight: 700;
    padding-left: 5px;
    line-height: 20px;
    margin: 10px 0;
}

.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterContent {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 3px 8px 0;
    margin: 5px 0;
}

.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterContent:hover {
    background: rgb(244,246,248);
    border-radius: 5px;
}

.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterHotelLevel {
    display: flex;
    border: 2px solid #5522bb;
    border-radius: 5px;
    height: 35px;
    margin-top: 8px;
}

.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterHotelLevel button {
    background: none;
    border: none;
    width: 20%;
    padding: 0;
}

.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterHotelLevel button:hover,
.ADETourFilterSection .ADETourFilterContentWrap .ADETourFilterHotelLevel button:active{
    background: #5522bb;
    color: #ffffff;
}

.ADETourFilterSection .ADETourFilterContentWrap input {
    width: 16px;
    height: 16px;
    accent-color: #5522bb;
}

.ADETourFilterSection .ADETourFilterContentWrap label{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

/* ------------tour content section-------------- */

.ADETourContentSection{
    width: 100%;
}

.ADETourContentHeader{
    display: flex;
    margin: 10px 0 20px 0;
    width: 100%;
    height: 25px;
    justify-content: space-between;
}

.ADETourTotalNumber{
    height: 25px;
}

.ADETourResultList{
    margin-top: 15px;
}

/* tour card item */

.ADETourCard{
    border-radius: 15px;
    border: 1px solid rgb(244, 246, 248);
    box-shadow: 1px 6px 12px rgba(0, 0, 0, .1);
    margin: 15px 0;
}

.ADETourItem{
    display: flex;
    height: 226px;
}

.ADETourItem:hover{
    box-shadow: 3px 12px 20px rgba(0,0,0,.3);
    border: 1px solid #5522bb
}

.ADETourItem  .ADETourItemImageWrap{
    width: 30%;
}

.ADETourItemImage{
    height: 225px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: no-repeat center;
    object-fit: cover;
}

.ADETourItem .ADETourItemContent {
    width: 50%;
    padding: 10px;
}

.ADETourItem .ADETourItemContent .ADETourTopBadge{
    display: inline-block;
    background-color: rgb(244,246,248);
    border-radius: 13px;
    padding: 3px 10px;
    color: #5522bb;
    font-weight: 600;
    font-size: 15px;
}

.ADETourItem .ADETourItemContent .ADETourItemContentTitle{
    font-size: 16px;
    font-weight: 600;
}

.ADETourCode{
    font-weight: 600;
    color: #5522bb;
    margin: 5px 0;
    font-size: 12px;
}

.ADETourItem .ADETourItemContent .ADETourItemContentDetail{
    font-size: 13px;
    margin: 8px 0;
}

.ADETourItem .ADETourItemContent .ADETourItemContentDetail .ADEBold{
    font-weight: 600;
}

.ADETourItem .ADETourItemButtonGroup{
    display: flex;
    flex-direction: column;
    width: 20%;
    right: 10px;
    border-left: 1px solid rgb(192,202,213);
    justify-content: space-between;
}

.ADETourItemButtonGroup button {
    border-radius: 6px;
    font-weight: 600;
    height: 35px;
    width: 80%;
    font-size: 16px;
}

.ADETourItemButtonGroup .ADETourDetailButton{
    position: relative;
    border: none;
    color: #5522bb;
    background: transparent;
    cursor: pointer;
    margin: 10px auto;
}

.ADETourItemButtonGroup .ADETourDetailButton:hover .ADETourArrowRightIcon {
    animation: swipeRight .5s forwards;

}
.ADETourItemButtonGroup .ADETourPriceGroup{
    text-align: center;
    padding-bottom: 30px;
}

.ADETourItemButtonGroup .ADETourPriceGroup .ADETourPrice{
    font-size: 20px;
    font-weight: 600;
    color: #5522bb;
}

.ADETourItemButtonGroup .ADETourPriceGroup .ADETourPriceDescription{
    color: rgb(79,111,143);
    font-size: 13px;
    margin-bottom: 10px;
}

.ADETourBookingButton,
.ADETourItemButtonGroup .ADETourPriceGroup .ADETourSelectButton{
    background: linear-gradient(101.95deg, #ffa6cd -15.11%, #d15fd1 39.54%, #ad27d5 101.84%);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

/* TOUR DETAIL PAGE */
.ADETourDetailBody {
    max-width: 1140px;
    margin: auto;
}

.ADETourDetailCarousel {
    margin: 20px 0;
}

.ADETourSlideImage {
    max-height: 250px;
    margin: 0 3px;
    width: 100%;
    border-radius: 16px;
}

.ADETourSlideImage > img {
    border-radius: 16px;
    width:100%;
    height: 250px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ADETourBookingButton{
    border-radius: 6px;
    font-weight: 600;
    height: 35px;
    width: 100%;
    font-size: 16px;
}

.ADETourEditButton {
    border: none;
    background: #ffffff;
    color: #5522bb;
    margin-top : 10px;
    cursor: pointer;
}

/* slick modify */
.slick-prev::before,
.slick-next::before {
    content: '' !important;
}

.slick-prev,
.slick-next {
    background: #ffffff center no-repeat !important;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, .1) !important;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    z-index: 2 !important;
}

.slick-prev {
    left: 16px !important;
    background-image: url('data:image/svg+xml,<svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5002 0.365606C13.9479 -0.121869 13.0548 -0.121869 12.5039 0.365606L0.827272 10.6951C0.565896 10.9228 0.357771 11.1968 0.215554 11.5005C0.0733374 11.8043 -5.04573e-07 12.1313 -5.04573e-07 12.4619C-5.04573e-07 12.7924 0.0733374 13.1195 0.215554 13.4232C0.357771 13.7269 0.565896 14.001 0.827272 14.2287L12.5884 24.6344C12.8553 24.8669 13.2088 24.9976 13.5771 25C13.9453 25.0023 14.3007 24.876 14.5711 24.6469C14.7051 24.5337 14.8122 24.3965 14.886 24.2439C14.9598 24.0912 14.9986 23.9263 15 23.7593C15.0014 23.5923 14.9654 23.4268 14.8942 23.2731C14.823 23.1194 14.7181 22.9808 14.5861 22.8657L3.82176 13.345C3.69097 13.2311 3.58682 13.094 3.51564 12.9421C3.44447 12.7902 3.40777 12.6266 3.40777 12.4612C3.40777 12.2959 3.44447 12.1323 3.51564 11.9804C3.58682 11.8285 3.69097 11.6914 3.82176 11.5775L14.5002 2.13177C14.631 2.01802 14.7351 1.88107 14.8063 1.72925C14.8774 1.57743 14.9141 1.41392 14.9141 1.24869C14.9141 1.08345 14.8774 0.919941 14.8063 0.768122C14.7351 0.616303 14.631 0.47935 14.5002 0.365606Z" fill="%235522BB"/></svg>') !important;
}

.slick-next {
    right: 16px !important;
    background-image: url('data:image/svg+xml,<svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.49979 24.6344C1.05205 25.1219 1.94522 25.1219 2.49612 24.6344L14.1727 14.3049C14.4341 14.0772 14.6422 13.8032 14.7844 13.4995C14.9267 13.1957 15 12.8687 15 12.5381C15 12.2076 14.9267 11.8805 14.7844 11.5768C14.6422 11.2731 14.4341 10.999 14.1727 10.7713L2.41157 0.365618C2.14465 0.133064 1.79117 0.00235299 1.42292 3.14595e-05C1.05468 -0.00229007 0.699269 0.123952 0.428883 0.353118C0.294937 0.466288 0.187764 0.603458 0.113998 0.756134C0.0402326 0.908811 0.0014458 1.07374 3.96542e-05 1.24072C-0.00136649 1.40769 0.0346379 1.57315 0.105823 1.72685C0.177009 1.88056 0.28186 2.01923 0.413883 2.13428L11.1782 11.655C11.309 11.7689 11.4132 11.906 11.4844 12.0579C11.5555 12.2098 11.5922 12.3734 11.5922 12.5388C11.5922 12.7041 11.5555 12.8677 11.4844 13.0196C11.4132 13.1715 11.309 13.3086 11.1782 13.4225L0.49979 22.8682C0.369034 22.982 0.264906 23.1189 0.193749 23.2707C0.122593 23.4226 0.085897 23.5861 0.085897 23.7513C0.085897 23.9165 0.122593 24.0801 0.193749 24.2319C0.264906 24.3837 0.369034 24.5206 0.49979 24.6344Z" fill="%235522BB"/></svg>') !important;
}

/* tour detail content section */
.ADETourDetailContent{
    display: flex;
    gap: 30px;
    margin: 15px 0;
}

.ADETourDetailContent .ADETourDetailMainSection{
    width: 70%;
}

.ADETourDetailContent .ADETourDetailMainSection .ADETourDetailGroup {
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 15px;
}

.ADETourDetailGroup .ADETourDetailName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ADETourDetailGroup .ADETourDetailDays {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: gray;
}

.ADETourDetailGroup .ADETourDetailsPointDate {
    display: flex;
    border-radius: 16px;
    background: rgb(244, 246, 248);
    padding: 10px;
}

.ADETourDetailGroup .ADETourDetailsPointDate .ADETourDes{
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    max-width: 35%;
}

.ADETourDes .ADETourDesHeader {
    font-size: 12px;
    color: rgb(79,111,143)
}

.ADETourExtraInfo {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}


/* fixxxxxxxxxxxxx */
.ADETourRouteGroup{
    border-radius: 16px;
    margin-top: 10px;
    border: 1px solid lightgray;
}

.ADETourRouteGroup .ADETourRouteWrap {
    display: flex;
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteSummary {
    width: 10%;
    padding: 10px 0 10px 10px;
    border-right: 1px solid lightgray;
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteSummary .ADETourDayBox{
    display: inline-block;
    background: #5522bb;
    color: #ffffff;
    height: 22px;
    border-radius: 3px;
    padding: 0 3px;
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteSummary .ADETourDateInfo {
    font-weight: 600;
    font-size: 14px;
    color: rgb(79,111,143)
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteMain {
    width: 90%;
    padding: 10px 10px 10px 5px;
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteMain .ADETourRouteTitle{
    font-size: 17px;
    font-weight: 600;
}

.ADETourRouteGroup .ADETourRouteWrap .ADETourRouteMain .ADETourRouteContent {
    font-size: 12px;
}

/* fixxxxxxxxxxxxxxxxxx */

.ADETourNoteWrap {
    padding: 10px;
}

.ADETourNoteWrap .ADETourNoteTitle{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.ADETourNoteWrap .ADELineGray{
    margin: 5px 0;
}

.ADETourDetailContent .ADETourDetailAsideSection{
    border-radius: 15px;
    width: 30%;
}

.ADETourAsideContent{
    padding: 15px;
}

.ADETourRouteMain .ADELineGray,
.ADETourAsideContent .ADELineGray {
    margin: 5px 0 10px 0;
}

.ADETourAsideButtonGroup{
    display: flex;
    padding: 0 20px 20px 20px;
    justify-content: space-between;
    flex-direction: column;;
}

.ADETourAsideContentItem {
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-weight: 600;
}

.ADETourAsideContentItem .ADETourChangeNumberBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #5522bb;
    background: #ffffff;
    border: 2px solid #5522bb;
    /* border: none; */
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
}

.ADETourAsideContentItem .ADETourChangeNumberBtn:hover{
   color: #ffffff;
   background: #5522bb;
}

.ADETourAsideContentItem .ADETourNumberInput {
    height: 25px;
    width: 35px;
    border-radius: 6px;
    /* border: 1px solid #5522bb; */
    border: none;
    text-align: center;
    font-size: 18px;;
}

.ADETourAsideContentItem .ADETourNumberInput:hover {
    border: 2px solid #5522bb;
}

.ADETourAsideActive{
    color: #5522bb;
}

.ADETourAsideTotalPrice{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 35px;
    font-weight: 700;
    color: #5522bb
}

/* icon and line, extend */

.ADETourTitleAndButtonGroup {
    display: flex;
    justify-content: space-between;
}

.ADETourExpandRoute {
    height: 30px;
    border: 2px solid #5522bb;
    border-radius: 15px;
    color: #5522bb;
    background: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

.ADETourExpandRoute:hover {
    color: #ffffff;
    background: #5522bb;
}

.ADELine{
    height: 2px;
    width: 100%;
    background: linear-gradient(101.95deg, #ffa6cd -15.11%, #d15fd1 39.54%, #ad27d5 101.84%);
}

.ADELineGray {
    height: 1px;
    width: 100%;
    background: lightgray
}

.ADETourArrowRightIcon {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2666 7.31667C17.35 7.11378 17.35 6.88622 17.2666 6.68333C17.227 6.58104 17.1675 6.48758 17.0916 6.40833L11.2583 0.574998C11.1806 0.497299 11.0884 0.435666 10.9868 0.393615C10.8853 0.351565 10.7765 0.329922 10.6666 0.329922C10.4447 0.329922 10.2319 0.418078 10.075 0.574998C9.99726 0.652697 9.93563 0.744939 9.89358 0.846457C9.85153 0.947975 9.82988 1.05678 9.82988 1.16666C9.82988 1.38858 9.91804 1.60141 10.075 1.75833L14.4916 6.16666H1.49996C1.27895 6.16666 1.06698 6.25446 0.910704 6.41074C0.754423 6.56702 0.666626 6.77898 0.666626 7C0.666626 7.22101 0.754423 7.43297 0.910704 7.58925C1.06698 7.74553 1.27895 7.83333 1.49996 7.83333H14.4916L10.075 12.2417C9.99685 12.3191 9.93486 12.4113 9.89255 12.5129C9.85024 12.6144 9.82846 12.7233 9.82846 12.8333C9.82846 12.9433 9.85024 13.0523 9.89255 13.1538C9.93486 13.2554 9.99685 13.3475 10.075 13.425C10.1524 13.5031 10.2446 13.5651 10.3461 13.6074C10.4477 13.6497 10.5566 13.6715 10.6666 13.6715C10.7766 13.6715 10.8856 13.6497 10.9871 13.6074C11.0887 13.5651 11.1808 13.5031 11.2583 13.425L17.0916 7.59167C17.1675 7.51241 17.227 7.41896 17.2666 7.31667Z" fill="%235522BB"/></svg>') no-repeat center;
}

.ADETourGroupIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_57_134)"><path d="M24.0938 18.8125H18.0977C17.6407 18.8125 17.254 18.4727 17.1993 18.0195C17.0899 17.1484 16.7422 16.3281 16.1915 15.6445C15.9102 15.293 15.9258 14.7891 16.2344 14.4609C17.1876 13.4375 18.5391 12.8477 19.9415 12.8477C22.7344 12.8477 25.004 15.1172 25.004 17.9102C25.0014 18.15 24.9044 18.3792 24.7341 18.5481C24.5637 18.717 24.3337 18.812 24.0938 18.8125ZM18.8477 17H23.0586C22.6641 15.6484 21.4141 14.6563 19.9376 14.6563C19.2696 14.6563 18.6368 14.8516 18.1016 15.2227C18.4376 15.7734 18.6876 16.3711 18.8477 17Z" fill="%235522BB"/><path d="M19.9375 13.4063C18.7305 13.4063 17.6602 12.5977 17.3359 11.4414C17.2695 11.207 17.2305 10.957 17.2305 10.6992C17.2305 9.20703 18.4453 7.99219 19.9375 7.99219C21.4297 7.99219 22.6445 9.20703 22.6445 10.6992C22.6445 10.9531 22.6094 11.207 22.5391 11.4453C22.2148 12.5977 21.1406 13.4063 19.9375 13.4063ZM19.9375 9.80469C19.7998 9.805 19.664 9.83702 19.5406 9.89828C19.4172 9.95954 19.3096 10.0484 19.2262 10.1579C19.1427 10.2675 19.0855 10.3948 19.0592 10.53C19.0328 10.6652 19.038 10.8046 19.0742 10.9375C19.1836 11.3281 19.5391 11.5938 19.9375 11.5938C20.3359 11.5938 20.6914 11.3281 20.7969 10.9453C20.8203 10.8633 20.832 10.7813 20.832 10.6992C20.832 10.207 20.4297 9.80469 19.9375 9.80469ZM6.90625 18.8125H0.90625C0.40625 18.8125 0 18.4063 0 17.9063C0 15.1133 2.27344 12.8438 5.06641 12.8438C6.46875 12.8438 7.81641 13.4336 8.77344 14.4609C9.08203 14.793 9.09766 15.2969 8.8125 15.6484C8.25998 16.3281 7.91064 17.15 7.80469 18.0195C7.77703 18.2384 7.67054 18.4396 7.50515 18.5856C7.33977 18.7316 7.12684 18.8122 6.90625 18.8125ZM1.94141 17H6.15625C6.3125 16.375 6.56641 15.7734 6.90234 15.2227C6.36323 14.8524 5.7243 14.6549 5.07031 14.6563C3.58594 14.6563 2.33203 15.6445 1.94141 17Z" fill="%235522BB"/><path d="M5.0625 13.4063C3.85547 13.4063 2.78516 12.5977 2.46094 11.4414C2.39453 11.207 2.35547 10.957 2.35547 10.6992C2.35547 9.20703 3.57031 7.99219 5.0625 7.99219C6.55469 7.99219 7.76953 9.20703 7.76953 10.6992C7.76953 10.9531 7.73438 11.207 7.66406 11.4453C7.33984 12.5977 6.26953 13.4063 5.0625 13.4063ZM5.0625 9.80469C4.92477 9.805 4.78895 9.83702 4.66559 9.89828C4.54223 9.95954 4.43464 10.0484 4.35116 10.1579C4.26767 10.2675 4.21054 10.3948 4.18419 10.53C4.15784 10.6652 4.16299 10.8046 4.19922 10.9375C4.30859 11.3281 4.66406 11.5938 5.0625 11.5938C5.46094 11.5938 5.81641 11.3281 5.92187 10.9453C5.96055 10.8122 5.96767 10.6719 5.94265 10.5355C5.91764 10.3992 5.86118 10.2706 5.77776 10.1598C5.69435 10.0491 5.58627 9.95938 5.46211 9.89773C5.33795 9.83608 5.20112 9.80422 5.0625 9.80469ZM18.1445 19.5156H6.85937C6.35937 19.5156 5.95312 19.1094 5.95312 18.6094C5.95312 18.3242 5.97266 18.0469 6.00781 17.7813C6.15234 16.5859 6.63672 15.4492 7.40234 14.5039C8.65234 12.9531 10.5078 12.0625 12.5 12.0625C14.4883 12.0625 16.3477 12.9531 17.5977 14.5C18.3633 15.4453 18.8438 16.5859 18.9922 17.7891C19.0273 18.043 19.043 18.3203 19.043 18.6055C19.0445 18.7244 19.0224 18.8425 18.978 18.9529C18.9335 19.0632 18.8676 19.1637 18.784 19.2483C18.7004 19.333 18.6009 19.4003 18.4911 19.4461C18.3813 19.492 18.2635 19.5156 18.1445 19.5156ZM7.85156 17.7031H17.1484C17 16.9453 16.6758 16.2383 16.1914 15.6406C15.7483 15.0889 15.1868 14.6438 14.5486 14.3382C13.9103 14.0326 13.2116 13.8743 12.5039 13.875C11.0625 13.875 9.71875 14.5195 8.81641 15.6406C8.32422 16.2461 7.99609 16.9531 7.85156 17.7031Z" fill="%235522BB"/><path d="M12.5 12.1836C11.0078 12.1836 9.68362 11.1836 9.27737 9.75C9.1906 9.45178 9.14719 9.14262 9.14846 8.83203C9.14846 6.98438 10.6524 5.48047 12.5 5.48047C14.3477 5.48047 15.8516 6.98438 15.8516 8.83203C15.8516 9.14844 15.8086 9.46094 15.7188 9.75781C15.3164 11.1836 13.9922 12.1836 12.5 12.1836ZM12.5 7.29688C11.6524 7.29688 10.961 7.98828 10.961 8.83594C10.9618 9.24387 11.1242 9.63486 11.4127 9.92331C11.7011 10.2118 12.0921 10.3742 12.5 10.375C13.1836 10.375 13.793 9.91797 13.9766 9.26172C14.0157 9.12109 14.0352 8.98047 14.0352 8.83594C14.0359 8.63395 13.9967 8.43381 13.9199 8.24702C13.843 8.06022 13.73 7.89044 13.5874 7.74743C13.4447 7.60442 13.2753 7.491 13.0887 7.41368C12.9021 7.33636 12.702 7.29667 12.5 7.29688Z" fill="%235522BB"/></g><defs><clipPath id="clip0_57_134"><rect width="25" height="25" fill="white"/></clipPath></defs></svg>') no-repeat center;
}

.ADETourVoucherIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_57_131)"><path d="M24.4949 9.09883L15.9011 0.505084C15.7484 0.35235 15.5015 0.35235 15.3488 0.505084L0.50503 15.3488C0.393311 15.4606 0.359717 15.6285 0.420264 15.7746C0.480811 15.9207 0.623389 16.0156 0.781202 16.0156H2.3437V17.9688C2.3437 18.1848 2.5187 18.3594 2.73433 18.3594H4.29683V20.3125C4.29683 20.5285 4.47183 20.7031 4.68745 20.7031H6.64058V22.2656C6.64058 22.4816 6.81558 22.6563 7.0312 22.6563H8.98433V24.2188C8.98433 24.3766 9.07964 24.5195 9.22534 24.5797C9.27378 24.6 9.32456 24.6094 9.37495 24.6094C9.47651 24.6094 9.57651 24.5695 9.65112 24.4949L24.4949 9.65118C24.6476 9.49844 24.6476 9.25157 24.4949 9.09883ZM9.37495 21.875H7.42183V20.3125C7.42183 20.0965 7.24683 19.9219 7.0312 19.9219H5.07808V17.9688C5.07808 17.7527 4.90308 17.5781 4.68745 17.5781H3.12495V15.625C3.12495 15.409 2.94995 15.2344 2.73433 15.2344H1.72417L3.9062 13.0524L11.9476 21.0938L9.76558 23.2758V22.2656C9.76558 22.0496 9.59058 21.875 9.37495 21.875ZM12.5 20.5414L4.45855 12.5L15.625 1.3336L23.6664 9.37501L12.5 20.5414Z" fill="%235522BB"/><path d="M13.1441 9.31173C13.3582 9.5254 13.6433 9.64298 13.9472 9.64298C14.2511 9.64298 14.5367 9.5254 14.7511 9.31134C15.1937 8.86798 15.1933 8.14727 14.7504 7.7043L14.048 7.00196C13.6199 6.57384 12.8679 6.57462 12.4414 7.00157C12.2273 7.21563 12.1094 7.50079 12.1094 7.80469C12.1094 8.1086 12.2273 8.39415 12.4414 8.60821L13.1441 9.31173ZM12.9941 7.5543C13.0601 7.4879 13.1492 7.45118 13.2449 7.45118C13.3406 7.45118 13.4297 7.4879 13.4961 7.5543L14.1984 8.25665C14.3367 8.39493 14.3367 8.62071 14.1988 8.7586C14.066 8.89063 13.8301 8.89102 13.6972 8.75899L12.9941 8.05587C12.9273 7.98946 12.8906 7.9004 12.8906 7.80469C12.8906 7.70899 12.9273 7.62071 12.9941 7.5543ZM18.7648 10.0137C18.9789 10.2277 19.264 10.3457 19.5683 10.3457C19.8719 10.3457 20.1574 10.2277 20.3715 10.0141C20.5855 9.80001 20.7039 9.51485 20.7035 9.21016C20.7035 8.90665 20.5855 8.6211 20.3715 8.40704L19.6683 7.70391C19.2402 7.27579 18.4898 7.27579 18.0629 7.70391C17.6199 8.14688 17.6195 8.86759 18.0625 9.31094L18.7648 10.0137ZM18.6152 8.25665C18.6812 8.19024 18.7699 8.15352 18.8652 8.15352C18.9605 8.15352 19.0496 8.19024 19.116 8.25665L19.8191 8.95977C19.8855 9.02618 19.9222 9.11524 19.9222 9.21094C19.9222 9.30587 19.8859 9.39532 19.8191 9.46173C19.6863 9.59454 19.4504 9.59454 19.3176 9.46173L18.6152 8.75938C18.4765 8.62032 18.4765 8.39493 18.6152 8.25665ZM15.2461 4.68634C15.1636 4.48712 14.934 4.39337 14.7355 4.47501C14.5363 4.55743 14.4418 4.78594 14.5242 4.98555L17.566 12.3293C17.6281 12.4797 17.7738 12.5703 17.9269 12.5703C17.9769 12.5703 18.0277 12.5609 18.0765 12.5406C18.2758 12.4582 18.3703 12.2297 18.2879 12.0301L15.2461 4.68634ZM10.823 9.48946C10.6703 9.33673 10.4234 9.33673 10.2707 9.48946L7.14568 12.6145C6.99294 12.7672 6.99294 13.0141 7.14568 13.1668C7.22185 13.243 7.32185 13.2813 7.42185 13.2813C7.52185 13.2813 7.62185 13.243 7.69802 13.1668L10.823 10.0418C10.9758 9.88907 10.9758 9.64219 10.823 9.48946ZM11.9949 10.6613C11.8422 10.5086 11.5953 10.5086 11.4426 10.6613L8.31755 13.7863C8.16482 13.9391 8.16482 14.1859 8.31755 14.3387C8.39373 14.4149 8.49373 14.4531 8.59373 14.4531C8.69373 14.4531 8.79373 14.4149 8.8699 14.3387L11.9949 11.2137C12.1476 11.0609 12.1476 10.8141 11.9949 10.6613ZM13.1668 11.8332C13.014 11.6805 12.7672 11.6805 12.6144 11.8332L9.48943 14.9582C9.33669 15.1109 9.33669 15.3578 9.48943 15.5106C9.5656 15.5867 9.6656 15.625 9.7656 15.625C9.8656 15.625 9.9656 15.5867 10.0418 15.5106L13.1668 12.3856C13.3195 12.2328 13.3195 11.9859 13.1668 11.8332ZM14.3386 13.0051C14.1859 12.8524 13.939 12.8524 13.7863 13.0051L10.6613 16.1301C10.5086 16.2828 10.5086 16.5297 10.6613 16.6824C10.7375 16.7586 10.8375 16.7969 10.9375 16.7969C11.0375 16.7969 11.1375 16.7586 11.2136 16.6824L14.3386 13.5574C14.4914 13.4047 14.4914 13.1578 14.3386 13.0051ZM14.9582 14.177L11.8332 17.302C11.6804 17.4547 11.6804 17.7016 11.8332 17.8543C11.9094 17.9305 12.0094 17.9688 12.1094 17.9688C12.2094 17.9688 12.3094 17.9305 12.3855 17.8543L15.5105 14.7293C15.6633 14.5766 15.6633 14.3297 15.5105 14.177C15.3578 14.0242 15.1109 14.0242 14.9582 14.177Z" fill="%235522BB"/></g><defs><clipPath id="clip0_57_131"><rect width="25" height="25" fill="white"/></clipPath></defs></svg>') no-repeat center;
}

.ADETourMapIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.2084 5.26042L15.9584 3.17709H15.8855C15.837 3.17222 15.7881 3.17222 15.7396 3.17709H15.5H15.3646H15.2917L9.37504 5.20834L3.45838 3.17709C3.30173 3.12543 3.13505 3.11172 2.97206 3.13707C2.80907 3.16243 2.65444 3.22612 2.52088 3.32292C2.38625 3.41877 2.27636 3.54528 2.20029 3.69199C2.12422 3.83871 2.08414 4.00141 2.08338 4.16667V18.75C2.08281 18.9684 2.1509 19.1814 2.278 19.359C2.40511 19.5366 2.58481 19.6697 2.79171 19.7396L9.04171 21.8229C9.25155 21.8913 9.4777 21.8913 9.68754 21.8229L15.625 19.8438L21.5417 21.875C21.6523 21.89 21.7644 21.89 21.875 21.875C22.0928 21.8781 22.3054 21.8084 22.4792 21.6771C22.6138 21.5812 22.7237 21.4547 22.7998 21.308C22.8759 21.1613 22.9159 20.9986 22.9167 20.8333V6.25001C22.9173 6.03163 22.8492 5.81859 22.7221 5.64102C22.595 5.46344 22.4153 5.3303 22.2084 5.26042ZM8.33338 19.3854L4.16671 18V5.61459L8.33338 7.00001V19.3854ZM14.5834 18L10.4167 19.3854V7.00001L14.5834 5.61459V18ZM20.8334 19.3854L16.6667 18V5.61459L20.8334 7.00001V19.3854Z" fill="%235522BB"/></svg>') no-repeat center;
}

.ADETourHotelIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_57_126)"><path d="M6 0V6H0V18H18V0H6ZM6 16.8H1.2V7.2H6V16.8ZM16.8 16.8H7.2V1.2H16.8V16.8Z" fill="%235522BB"/><path d="M9.59998 4.2H10.8V5.4H9.59998V4.2ZM13.2 4.2H14.4V5.4H13.2V4.2ZM13.2 7.8H14.4V9H13.2V7.8ZM9.59998 7.8H10.8V9H9.59998V7.8Z" fill="%235522BB"/></g><defs><clipPath id="clip0_57_126"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>') no-repeat center;
}

.ADETourFoodIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background:url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 5.07812C11.0321 5.07813 9.59715 5.51341 8.37663 6.32894C7.15611 7.14446 6.20483 8.3036 5.64308 9.65977C5.08134 11.0159 4.93436 12.5082 5.22074 13.9479C5.50711 15.3876 6.21398 16.7101 7.25195 17.7481C8.28991 18.786 9.61236 19.4929 11.0521 19.7793C12.4918 20.0656 13.9841 19.9187 15.3402 19.3569C16.6964 18.7952 17.8555 17.8439 18.6711 16.6234C19.4866 15.4029 19.9219 13.9679 19.9219 12.5C19.9197 10.5323 19.1371 8.64574 17.7457 7.25434C16.3543 5.86294 14.4677 5.0803 12.5 5.07812ZM12.5 19.1406C11.1866 19.1406 9.90271 18.7512 8.81067 18.0215C7.71862 17.2918 6.86748 16.2547 6.36487 15.0413C5.86225 13.8278 5.73075 12.4926 5.98698 11.2045C6.24321 9.91632 6.87566 8.73308 7.80437 7.80437C8.73308 6.87566 9.91633 6.2432 11.2045 5.98697C12.4926 5.73074 13.8278 5.86225 15.0413 6.36486C16.2547 6.86748 17.2918 7.71862 18.0215 8.81067C18.7512 9.90271 19.1406 11.1866 19.1406 12.5C19.1387 14.2606 18.4384 15.9485 17.1935 17.1935C15.9485 18.4384 14.2606 19.1387 12.5 19.1406Z" fill="%235522BB"/><path d="M5.07812 8.20312V4.29688H4.29688V7.8125H3.90625V4.29688H3.125V7.8125H2.73438V4.29688H1.95312V7.8125H1.5625V4.29688H0.78125V10.1562C0.781546 10.3985 0.856788 10.6348 0.996658 10.8327C1.13653 11.0305 1.33418 11.1802 1.5625 11.2613V20.3125C1.5625 20.6233 1.68597 20.9214 1.90573 21.1411C2.1255 21.3609 2.42357 21.4844 2.73438 21.4844H3.125C3.4358 21.4844 3.73387 21.3609 3.95364 21.1411C4.17341 20.9214 4.29688 20.6233 4.29688 20.3125V11.2613C4.5252 11.1802 4.72285 11.0305 4.86272 10.8327C5.00259 10.6348 5.07783 10.3985 5.07812 10.1562V8.20312ZM4.29688 10.1562C4.29688 10.2599 4.25572 10.3592 4.18246 10.4325C4.10921 10.5057 4.00985 10.5469 3.90625 10.5469C3.80265 10.5469 3.70329 10.588 3.63004 10.6613C3.55678 10.7345 3.51562 10.8339 3.51562 10.9375V20.3125C3.51562 20.4161 3.47447 20.5155 3.40121 20.5887C3.32796 20.662 3.2286 20.7031 3.125 20.7031H2.73438C2.63077 20.7031 2.53142 20.662 2.45816 20.5887C2.38491 20.5155 2.34375 20.4161 2.34375 20.3125V10.9375C2.34375 10.8339 2.30259 10.7345 2.22934 10.6613C2.15608 10.588 2.05673 10.5469 1.95312 10.5469C1.84952 10.5469 1.75017 10.5057 1.67691 10.4325C1.60366 10.3592 1.5625 10.2599 1.5625 10.1562V8.59375H4.29688V10.1562ZM23.8281 3.90625C22.896 3.90728 22.0024 4.27801 21.3433 4.93709C20.6843 5.59618 20.3135 6.48979 20.3125 7.42188V12.5C20.3125 12.8108 20.436 13.1089 20.6557 13.3286C20.8755 13.5484 21.1736 13.6719 21.4844 13.6719V21.0938C21.4844 21.1974 21.5255 21.2967 21.5988 21.37C21.672 21.4432 21.7714 21.4844 21.875 21.4844H23.8281C23.9317 21.4844 24.0311 21.4432 24.1043 21.37C24.1776 21.2967 24.2188 21.1974 24.2188 21.0938V4.29688C24.2188 4.19327 24.1776 4.09392 24.1043 4.02066C24.0311 3.94741 23.9317 3.90625 23.8281 3.90625ZM23.4375 20.7031H22.2656V13.2812C22.2656 13.1776 22.2245 13.0783 22.1512 13.005C22.078 12.9318 21.9786 12.8906 21.875 12.8906H21.4844C21.3808 12.8906 21.2814 12.8495 21.2082 12.7762C21.1349 12.703 21.0938 12.6036 21.0938 12.5V7.42188C21.0946 6.76455 21.3318 6.12944 21.7621 5.63252C22.1924 5.1356 22.787 4.81002 23.4375 4.71523V20.7031Z" fill="%235522BB"/><path d="M22.2656 6.25H21.4844V12.1094H22.2656V6.25Z" fill="%235522BB"/><path d="M12.5 8.59375C11.7274 8.59375 10.9722 8.82285 10.3298 9.25207C9.68743 9.6813 9.18675 10.2914 8.8911 11.0051C8.59544 11.7189 8.51809 12.5043 8.66881 13.2621C8.81953 14.0198 9.19157 14.7158 9.73787 15.2621C10.2842 15.8084 10.9802 16.1805 11.7379 16.3312C12.4957 16.4819 13.2811 16.4046 13.9949 16.1089C14.7086 15.8132 15.3187 15.3126 15.7479 14.6702C16.1772 14.0278 16.4063 13.2726 16.4063 12.5C16.4051 11.4643 15.9932 10.4714 15.2609 9.73912C14.5286 9.0068 13.5357 8.59489 12.5 8.59375ZM12.5 15.625C11.8819 15.625 11.2777 15.4417 10.7638 15.0983C10.2499 14.755 9.8494 14.2669 9.61288 13.6959C9.37635 13.1249 9.31447 12.4965 9.43505 11.8903C9.55563 11.2842 9.85325 10.7273 10.2903 10.2903C10.7273 9.85325 11.2842 9.55562 11.8903 9.43505C12.4965 9.31447 13.1249 9.37635 13.6959 9.61288C14.2669 9.8494 14.755 10.2499 15.0983 10.7638C15.4417 11.2777 15.625 11.8819 15.625 12.5C15.6241 13.3285 15.2945 14.1228 14.7087 14.7087C14.1228 15.2945 13.3285 15.6241 12.5 15.625Z" fill="%235522BB"/></svg>') no-repeat center;
}

.ADETourVehicleIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background:url('data:image/svg+xml,<svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.9168 7.32363L18.5164 5.86363L16.3418 1.93673C15.7533 0.879489 14.6276 0.225006 13.4252 0.225006H5.49416C4.26613 0.225006 3.16601 0.879489 2.57758 1.93673L0.300608 6.03983V6.06501C0.275024 6.09018 0.275024 6.11535 0.275024 6.14052V12.3078C0.275024 12.5847 0.50528 12.8112 0.786704 12.8112H2.88459C3.11485 13.9691 4.16379 14.825 5.39182 14.825C6.61985 14.825 7.6688 13.9691 7.89905 12.8112H15.6766C15.9068 13.9691 16.9558 14.825 18.1838 14.825C19.4118 14.825 20.4608 13.9691 20.691 12.8112H22.7633C23.0448 12.8112 23.275 12.5847 23.275 12.3078V7.8019C23.275 7.57535 23.1471 7.39914 22.9168 7.32363ZM8.69216 1.25708H13.4252C14.2695 1.25708 15.037 1.71018 15.4463 2.44018L17.2884 5.78811H8.69216V1.25708ZM3.47302 2.44018C3.88237 1.71018 4.64989 1.25708 5.49416 1.25708H7.6688V5.78811H1.63098L3.47302 2.44018ZM2.85901 11.8295H1.2728V10.8226H3.31952C3.08926 11.1247 2.93576 11.4519 2.85901 11.8295ZM5.36624 13.8433C4.52197 13.8433 3.8312 13.1636 3.8312 12.3329C3.8312 11.5022 4.52197 10.8226 5.36624 10.8226C6.21051 10.8226 6.90128 11.5022 6.90128 12.3329C6.90128 13.1636 6.21051 13.8433 5.36624 13.8433ZM18.1582 13.8433C17.314 13.8433 16.6232 13.1636 16.6232 12.3329C16.6232 11.5022 17.314 10.8226 18.1582 10.8226C19.0025 10.8226 19.6933 11.5022 19.6933 12.3329C19.6933 13.1636 19.0025 13.8433 18.1582 13.8433ZM22.2517 11.8295H20.6655C20.4352 10.6716 19.3863 9.8157 18.1582 9.8157C16.9302 9.8157 15.8813 10.6716 15.651 11.8295H7.87347C7.64321 10.6716 6.59427 9.8157 5.36624 9.8157H1.2728V6.79501H18.0815L22.2517 8.15432V11.8295Z" fill="%235522BB"/></svg>') no-repeat center;
}

.ADETourTimeIcon{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background:url('data:image/svg+xml,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_57_117)"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5037 0.95639C5.69241 0.95639 0.954468 5.68762 0.954468 11.4979C0.954468 17.3082 5.69337 22.0452 11.5037 22.0452C17.314 22.0452 22.0433 17.3082 22.0433 11.4979C22.0433 5.68762 17.314 0.95639 11.5037 0.95639ZM11.5037 2.87303C12.6367 2.87114 13.7591 3.09295 14.8062 3.52574C15.8534 3.95854 16.8048 4.5938 17.6059 5.3951C18.4071 6.1964 19.0421 7.14796 19.4747 8.19523C19.9072 9.24249 20.1288 10.3648 20.1266 11.4979C20.1289 12.6313 19.9075 13.754 19.475 14.8016C19.0426 15.8493 18.4076 16.8013 17.6066 17.6031C16.8055 18.4048 15.8541 19.0406 14.8068 19.474C13.7595 19.9074 12.6371 20.1298 11.5037 20.1286C10.3698 20.13 9.24678 19.9077 8.19893 19.4745C7.15108 19.0412 6.19897 18.4056 5.39711 17.6039C4.59525 16.8022 3.9594 15.8503 3.52595 14.8025C3.0925 13.7548 2.86998 12.6318 2.87111 11.4979C2.87111 6.72357 6.72931 2.87303 11.5037 2.87303ZM11.4883 4.77626C11.3617 4.7775 11.2365 4.80384 11.1201 4.85376C11.0037 4.90368 10.8983 4.97619 10.8101 5.06709C10.7218 5.15799 10.6525 5.26548 10.6061 5.38334C10.5597 5.5012 10.5371 5.6271 10.5396 5.75375V11.4979C10.5401 11.624 10.5655 11.7488 10.6144 11.8651C10.6632 11.9813 10.7345 12.0868 10.8242 12.1755L14.6575 16.0107C14.7462 16.1019 14.8521 16.1746 14.9692 16.2244C15.0862 16.2743 15.212 16.3004 15.3393 16.3011C15.4665 16.3018 15.5926 16.2772 15.7102 16.2287C15.8278 16.1802 15.9346 16.1087 16.0243 16.0185C16.114 15.9283 16.1849 15.8211 16.2327 15.7032C16.2806 15.5853 16.3045 15.4591 16.303 15.3319C16.3016 15.2046 16.2748 15.079 16.2243 14.9622C16.1738 14.8454 16.1005 14.7399 16.0087 14.6518L12.4582 11.1012V5.75375C12.4607 5.62532 12.4375 5.49769 12.3897 5.37843C12.342 5.25918 12.2708 5.15073 12.1803 5.05955C12.0899 4.96836 11.982 4.89629 11.8631 4.84763C11.7442 4.79896 11.6168 4.77469 11.4883 4.77626Z" fill="%235522BB"/></g><defs><clipPath id="clip0_57_117"><rect width="23" height="23" fill="white"/></clipPath></defs></svg>') no-repeat center;
}

.ADETourArrowDownIcon{
    display: inline-block;
    position: relative;
    width: 13.5px;
    height: 8px;
    margin-right: 5px;
    background: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1212 0.372418C12.8812 0.133886 12.5567 0 12.2183 0C11.88 0 11.5554 0.133886 11.3155 0.372418L6.71798 4.90609L2.18451 0.372418C1.94457 0.133886 1.61999 0 1.28166 0C0.943336 0 0.618755 0.133886 0.378811 0.372418C0.258779 0.491475 0.163506 0.633122 0.0984898 0.789187C0.0334734 0.945252 0 1.11265 0 1.28171C0 1.45078 0.0334734 1.61818 0.0984898 1.77424C0.163506 1.93031 0.258779 2.07195 0.378811 2.19101L5.80873 7.62117C5.92778 7.74121 6.06942 7.83649 6.22548 7.90151C6.38154 7.96652 6.54892 8 6.71798 8C6.88704 8 7.05443 7.96652 7.21049 7.90151C7.36655 7.83649 7.50819 7.74121 7.62724 7.62117L13.1212 2.19101C13.2412 2.07195 13.3365 1.93031 13.4015 1.77424C13.4665 1.61818 13.5 1.45078 13.5 1.28171C13.5 1.11265 13.4665 0.945252 13.4015 0.789187C13.3365 0.633122 13.2412 0.491475 13.1212 0.372418Z" fill="%235522BB"/></svg>') no-repeat center;

}

@keyframes swipeRight {
    from {
        left: 0;
    }

    to{
        left: 10px;
    }
}